<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'shared/error_messages', object: f.object %>

      <div class="field">
        <%= f.label :name, class: "control-label" %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :email, class: "control-label" %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>
          Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :password, class: "control-label" %> <i>(leave blanck if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "control-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :current_password, class: "control-label" %>
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-md-offset-3">
      <div class="actions">
        <%= f.submit "Save change", class: "btn btn-lg btn-primary" %>
      </div>

      <br />
      <%= gravatar_for resource %>
      <a href="http://gravatar.com/emails">change</a>
  </div>
</div>
<% end %>
