<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <%= render 'shared/error_messages', object: f.object %>

        <div class="field">
          <%= f.label :name, class: "control-label" %>
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :email, class: "control-label" %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "control-label" %>
          <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "control-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-3">
        <div class="actions">
          <%= f.submit "Create my account", class: "btn btn-lg btn-primary" %>
        </div>
    </div>
  </div>
<% end %>
