<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<!--form_forのヘルパーメソッドを使用してサインアップのフォーム（formタグ）を生成する-->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="field">
        <%= f.label :name, class: "controle-label" %>
        <%= f.name_field :name, autofocus: true, class: "form-controle" %>
      </div>

      <div class="field">
        <%= f.label :email, class: "controle-label" %>
        <%= f.email_field :email, autofocus: true, class: "form-controle" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "controle-label" %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autofocus: "off", class: "form-controle" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "controle-label" %>
        <%= f.password_field :password_confirmation, autofocus: "off", class: "form-controle" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="actions">
        <%= f.submit "Create my account", class "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
