<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for(@user) %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-3">
        <%= render 'follow_form' if signed_in? %>
      </div>
    </div>
    <% if @user.microposts.any? %>
      <h3>Microposts(<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
          <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
