<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
  <!--navbar:ナビゲーションバーに付ける基本スタイル--->
  <!--navbar-fixed-top:上部固定-->
  <!--navbar-inverse:色指定-->
    <div class="container">
      <%= link_to "sample_app", root_path, id: "logo" %>
      <nav>
      <!--navタグはナビゲーションのリンクをグルーピングするタグ-->
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if signed_in? %>
            <li><%= link_to "users", users_path %></li>
            <li id="fat-menu" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Account <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
